<!DOCTYPE html>
<html>
<head>
  <title>Tck | For when your shit is broken</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="contain">
    <div id="header">
      <h2><a href="<%= root_path %>" class="no_hl">Tck</a></h2>
      <b>When your shit's broken</b>
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="bottom_nav"><%= link_to "Home", root_path %> | <%= link_to "Create Ticket", new_ticket_path %></div>
    <div id="footer">
      <p>Created by <%= link_to "Todd", "http://facebook.com/thainsworth" %></p>
    </div>
  </div>

</body>
</html>
